:root {
    /* CSS HEX */
  --eerie-black: #202020ff;
  --black: #010101ff;
  --pumpkin: #FF731Dff;
  --gray: #7F7F7Fff;
  --seasalt: rgb(246, 246, 246);
  --night: #111111ff;
  /* font-family */
  font-family: Arial, Helvetica, sans-serif;
  }
  /* mobile view */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    background:var(--eerie-black);
}
header {
    height: 5dvh;
    background:var(--black);
    display: flex;
    justify-content:space-between;
    align-items: center;
}
header .logo  {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--pumpkin);
    padding-left: 5dvw;
}
.navigation-menu a {
    text-decoration: none;
    color: var(--seasalt);
    margin: 10px;
}
.navigation-menu a:hover{
    color: var(--pumpkin);
}
main > * {
    margin: 0.5rem;
}
main {
    display: flex;
    flex-direction: column;
    min-height: 90dvh;
    width: 100%;
}
main #about {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    color: var(--pumpkin);
}
main .container {
    color: var(--seasalt);
}
.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    color: var(--seasalt);
}

.hobbies {
    padding: 1rem;
    border:solid;
    background-color: var(--pumpkin);
    border-width: 10px;
    border-radius: 2.5rem;
}
.hobbies h1 {
    color: var(--night);
    display: flex;
    justify-content: center;
}
.hobbies ul {
    color: var(--night);
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 800;
}
.skills {
    padding: 1rem;
    border:solid;
    background-color: var(--pumpkin);
    border-width: 10px;
    border-radius: 2.5rem;
}
.skills h1 {
    color: var(--night);
    display: flex;
    justify-content: center;
}
.skills ul {
    color: var(--night);
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 800;
}
.resume {
    margin: 1rem;
    font-size: 90%;
}
.resume h2{
    color: var(--seasalt);
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.resume h1{
    color: var(--pumpkin);
    font-size: 3vw;
    display: flex;
    justify-content: center;
    padding-bottom: 1dvh;
    font-weight: 900;
} 
.resume a {
    display: flex;
    justify-content: center;
    text-align:center;  
}
.resume img {
    height: 10dvh;
    border-radius: 1.5rem;
}
footer {
    height: 5dvh;
    width: 100dvw;
    background:rgba(0,0,0,0.1);
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--seasalt);
}

/* Desktop view */
@media screen and (min-width:800px) {
    body {
        width: 100dvw;
    }
    .navigation-menu a {
        text-decoration: none;
        color: var(--seasalt);
        margin: 5em;
    }
        main {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            align-items: center;
            justify-content: space-evenly;
            
        }
        .hobbies, .skills,.resume {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            margin: 5%;
            width: 30dvw;
        }
    }

