:root {
  /* CSS HEX */
  --eerie-black: #202020ff;
  --black: #010101ff;
  --pumpkin: #ff731dff;
  --gray: #7f7f7fff;
  --seasalt: rgb(246, 246, 246);
  --night: #111111ff;
  /* font-family */
  font-family: Arial, Helvetica, sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  width: 100%;
  background: var(--eerie-black);
}
header {
  height: 5dvh;
  background: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--pumpkin);
  padding-left: 5dvw;
}
.navigation-menu a {
  text-decoration: none;
  color: var(--seasalt);
  margin: 10px;
}
.navigation-menu a:hover {
  color: var(--pumpkin);
}
main > * {
  margin: 0.5rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90dvh;
  width: 100%;
}
main h1 {
    text-decoration: underline;
  background-color: var(--pumpkin);
  border-radius: 2em;
  padding: 5%;
  margin: 10%;
  border: solid;
  color: var(--black);
}
section {
  display: flex;
  flex-direction: column;
  background-color: var(--pumpkin);
  margin: 10%;
  padding: 10%;
  border: solid;
  border-radius: 2em;
  border: solid;
  border-width: 10px;
}
section h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 3rem;
}
section h2 img {
  height: 10dvh;
}

footer {
  height: 5dvh;
  width: 100dvw;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--seasalt);
}
/* Desktop styling */
@media screen and (min-width: 800px) {
    main {
        display:flex;
        flex-direction: row;
    }
}
