:root {
    /* CSS HEX */
  --eerie-black: #202020ff;
  --black: #010101ff;
  --pumpkin: #03B5AA;
  --gray: #7F7F7Fff;
  --seasalt: rgb(246, 246, 246);
  --night: #111111ff;
  /* font-family */
  font-family: Arial, Helvetica, sans-serif;
  }
* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    background:var(--eerie-black);
}
header {
    height: 5dvh;
    background:var(--black);
    display: flex;
    justify-content:space-between;
    align-items: center;
}
header .logo  {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--pumpkin);
    padding-left: 5dvw;
}
.navigation-menu a {
    text-decoration: none;
    color: var(--seasalt);
    margin: 10px;
    font-size: 900;
}
.navigation-menu a:hover{
    color: var(--pumpkin);
}
main > * {
    margin: 0.5rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90dvh;
    width: 100dvw;
}
.container img {
    width: 80dvw;
    height: 30dvh;
    border-radius: 2em;
    border-width: 20px;
    border: solid black;
} 
.container a {
    display: flex;
    justify-content: center;
    align-items: center;
}
main h1 {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pumpkin);
}
main h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pumpkin);
    margin: 1em;
}
.container {
    display: flex;
    flex-direction:column; 
    justify-content: center;
    border: solid;
    border-radius: 2em;
    background-color: var(--pumpkin);}
    

main .container p {
    color: var(--seasalt);
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.one, .two, .three {
    border: solid;
    border-radius: 2.5rem;
    background-color: var(--night);
    margin: 1em;
    padding: 1em;
}

footer {
    height: 5dvh;
    width: 100dvw;
    background:rgba(0,0,0,0.1);
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--seasalt);

}
/* Tablet styling */
@media screen and (min-width:768px) {
    .navigation-menu a {
        padding: 2em;
        font-weight: 900;
    }
    
}
/* Desktop styling */
@media (min-width:1000px){
    main h1 {
        padding-bottom: 3em;
    }
    .container img {
        height: 100%;
        width: 20dvw;
    }
    .container {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        border: solid;
        background-color: var(--pumpkin);
    }
    .one, .two, .three {
        border: solid;
        border-radius: 2.5rem;
        background-color: var(--night);
        margin: 2rem;
        padding: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
  
        }
    