:root {
  /* CSS HEX */
--eerie-black: #202020ff;
--black: #010101ff;
--pumpkin: #FF731Dff;
--gray: #7F7F7Fff;
--seasalt: #F6F6F6ff;
--night: #111111ff;
/* font-family */
font-family: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:var(--night);
    
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
    height: 5dvh;
    background-color: var(--eerie-black);
    
}
header > a {
    font-weight: 900;
    font-size: 32px;
    color: var(--seasalt);
    text-decoration: none;
}
nav > a {
    color:#FF731Dff;
    font-weight: 700;
    text-decoration: none;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 90dvh;
    color: #F6F6F6ff;
}
main > div {
    padding-left: 10dvw;
}
main > img {
    height: 50dvh;
    width: 50dvw;
    margin: 2em;
    border-radius:100%;

}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height:5dvh;
}
@media screen  (min) {
    
}