:root {
    /* CSS HEX */
    #F79824;
  --eerie-black: #202020ff;
  --black: #010101ff;
  --pumpkin: #03B5AA;
  --gray: #7F7F7Fff;
  --seasalt: rgb(246, 246, 246);
  --night: #111111ff;
  /* font-family */
  font-family: Arial, Helvetica, sans-serif;
  }
  /* Mobile view */
* {
    padding: 0;
    margin: 0;
}
body {
    min-height: 100dvh;
    width: 100%;
    background:var(--eerie-black);
}
header {
    height: 5dvh;
    background:var(--black);
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}
header .logo  {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--pumpkin);
    padding-left: 5dvw;
}
.navigation-menu a {
    text-decoration: none;
    color: var(--seasalt);
    margin: .5rem;
    font-size: 100%;
    text-align: center;
}
.navigation-menu a:hover{
    color: var(--pumpkin);
}
main {
    min-height: 90dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main img{
    border-radius: 100%;
    border-style: solid;
    border-width: 5px;
    background-color: var(--pumpkin);
    height: 45%;
    width: 45%;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content h1 {
    font-size: 2rem;
    padding-top: 5dvh;
    color: var(--seasalt);
}
.content h2 {
    color: var(--pumpkin);
    font-weight: 900;
    font-size: 2rem;
    padding: 5%;
    width: 80%;
    text-align: center;
}
.content p {
    color: var(--seasalt);
    font-size: 1.5rem;
    margin-bottom: 5%;
}
footer {
    height: 5dvh;
    background:rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--seasalt);
}
/* Tablet view */
@media screen and (min-width:768px){
    .navigation-menu a {
        padding: 2em;
        font-weight: 900;
    }
    header {
        height: 5dvh;
        background:var(--black);
        display: flex;
        justify-content:c;
        align-items: center;
        width: 100%;
    }  
        main img {
            width: 40%;
            height: 40%;
            margin-top: 10%;
        }

    
}
/* Desktop view */
@media screen and (min-width: 1000px){
    .navigation-menu a {
        text-decoration: none;
        color: var(--seasalt);
        padding: 2.5rem;
        width: 100%;
    }
    main {
        display: flex;
        flex-direction: row;}
    main img {
        width: 20%;
        height: 20%;
        margin: 10%;}
    }