:root{
    /* CSS HEX */
--rich-black: #0d1b2aff;
--oxford-blue: #1b263bff;
--yinmn-blue: #415a77ff;
--silver-lake-blue: #778da9ff;
--platinum: #e0e1ddff;
}
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}