:root {
    /* CSS HEX */
  --eerie-black: #202020ff;
  --black: #010101ff;
  --pumpkin: #03B5AA;
  --gray: #7F7F7Fff;
  --seasalt: rgb(246, 246, 246);
  --night: #111111ff;
  /* font-family */
  font-family: Arial, Helvetica, sans-serif;
  }
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height:100dvh ;
    width: 100%;
    background:var(--eerie-black);
}
/* Header Component */
header {
    height: 5dvh;
    background:var(--black);
    display: flex;
    justify-content:space-between;
    align-items: center;
}
header .logo  {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--pumpkin);
    padding-left: 5dvw;
}
.navigation-menu a {
    text-decoration: none;
    color: var(--seasalt);
    margin: 10px;
}
.navigation-menu a:hover{
    color: var(--pumpkin);
}
main > * {
    margin: 0.5rem;
}
/* Main Component */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90dvh;
    width: 100%;
}
main .one,.two,.three,.four,.five {
    background-color:var(--pumpkin);
    border-radius: 2em;
    width: 80dvw;
    min-height: 100%;
    margin: 1rem;
    padding: 1.5rem;
    border: solid;
    border-color: black;
    border-width: 5%;
}
.container img {
    width: 80dvw;
    height: 30dvh;
    border-radius: 20%;
    border-width: 20px;
    margin: 2rem; 
    border: solid;
    color: black;
    background-color: var(--night);
} 

.container a {
    display: flex;
    justify-content: center;
    align-items: center;
}
main h1 {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pumpkin);
    
}
main h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--night);
    margin: 1em;
}
main h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--seasalt);
}
main .container p {
    color: var(--seasalt);
    align-items: center;
    display: flex;
    margin: .5rem;
    padding: 1.5rem;
    justify-content: center;
    text-align: center;
    border: solid;
    border-color: black;
    border-radius: 2.5rem;
    background-color: var(--eerie-black);
}
/* Footer */
footer {
    height: 5dvh;
    width: 100dvw;
    background:rgba(0,0,0,0.1);
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--seasalt);

}
/* Tablet styling */
@media screen and (min-width:768px){
    .navigation-menu a {
        padding: 2em;
        font-weight: 900;
    }
    
}
/* Desktop styling */
@media screen and (min-width:1000px) {
    body {
        width: 100dvw;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    main .one,.two,.three,.four,.five {
        display: flex;
        flex-direction: column;
        background-color:var(--pumpkin);
        height: 100%;
        width: 35dvw;
        margin: 1rem;
        padding: 1.5rem;
        border: solid;
        border-color: black;
        border-width: 0.5em;   
    }
    .container img {
        width: 20dvw;
        height: 30dvh;
        border-radius: 20%;
        border-width: 20px;
        margin: 2rem; 
        border: solid;
        color: black;
        background-color: var(--night);
}
main h2 {
    font-size: 3vh;
}

}
